rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userDetails/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /subscriptions/{subscriptionId} {
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId;
      allow read, delete: if request.auth != null
                    && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null
                    && request.auth.uid == resource.data.userId
                    && request.resource.data.userId == resource.data.userId;
    }

    match /expenses/{expenseId} {
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId;
      allow read, delete: if request.auth != null
                    && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null
                    && request.auth.uid == resource.data.userId
                    && request.resource.data.userId == resource.data.userId;
    }

    match /wallets/{walletId} {
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId;
      allow read, delete: if request.auth != null
                    && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null
                    && request.auth.uid == resource.data.userId
                    && request.resource.data.userId == resource.data.userId;
    }
  }
}
